// variable declare
$background-page:#5f9ea090;
$sponge-color:#fff01a;
$circle-color:#f5b71a;
$eye-color:#5f9ea090;
$pants-color:#8b6124;

//mixin declare
@mixin circle($dem){
  width: $dem;
  height: $dem;
  border-radius: 50%;
}
%hand{
  width: 14px;
  height: 100px;
  border-radius: 5px;
  background-color: $sponge-color;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.page{
  width: 100%;
  height: 100vh;
  background-color: $background-page;
  padding: 100px;
    .sponge{
      margin: 10px auto;
      width: 400px;
      height: 600px;
        .high-part{
          display: flex;
          justify-content: space-evenly;
          align-items: end;
            .left-hand,.right-hand{
              @extend %hand;
            }
            .left-hand{
              transform: skewX(-28deg) translateX(33px);
            }
            .right-hand{
              transform: skewX(28deg) translateX(-33px);
            }
            .body{
              background-color: $sponge-color;
              width: 200px;
              height: 200px;
              position: relative;
                .circle{
                  width: 100%;
                  height: 100%;
                  position: relative;
                  overflow: hidden;
                  span{
                    position: absolute;
                    background-color: $circle-color;
                    &.one{
                      @include circle(5px);
                          top:100px;
                          left:100px;
                    }
                    &.two{
                      @include circle(10px);
                            top:100px;
                            left:60px;
                    }
                    &.three{
                      @include circle(15px);
                            top:140px;
                            left:100px;
                    }
                    &.four{
                      @include circle(20px);
                            top:170px;
                            left:80px;
                    }
                    &.x{
                      transform: translate(50px,30px);
                      
                    }
                    &.y{
                      transform: translatey(-100px);
                    }
                    &.z{
                      transform: translate(10px,20px);
                    }
                    &.s{
                        transform: translate(-67px, 16px);
                    }
                    &.m{
                      transform: translate(93px, -94px);
                    }
                  }

                }
            }
            .eyes{
              width: 150px;
              height: 50px;
              padding: 0 12px;
              margin: -170px 25px 0;
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: absolute;
              z-index: 12;
                .left-eye,.right-eye{
                  @include circle(50px);
                  width: 45px;
                  background-color:#fff;
                  position: absolute;
                  top: 0;
                  .left-bobo,.right-bobo{
                    @include circle(25px);
                    background-color: $eye-color;
                    position: absolute;
                    margin: 50%;
                    transform: translate(-50%,-50%);
                  }
                }
                .left-eye{
                  left: 2px;
                }
                .right-eye{
                  right: 2px;
                }  
            }
            .mouth{
              position: absolute;
              margin: -92px 75px 0;
              width: 50px;
              height: 20px;
              background-color: #fff;
              border-radius: 12px;
                &.smile::after, &.smile::before{
                  content: '';
                  position: absolute;
                  background-color: #fe7979db;
                  @include circle(10px);
                  top: 0;
                  box-shadow: -9px 13px 0 0 #fe7979db, 8px 14px 0 0 #fe7979db;
                }
                &.smile::after{
                  left: -26px;
                }
                &.smile::before{
                  right: -26px;
                }
              .tooth{
                .part-high-teeth,.part-low-teeth{
                  display: flex;
                  justify-content: space-evenly;
                  width: 100%;
                  height: 50%;
                    hr{
                      height: 9px;
                    }
                }
              }
            }
        }
        .low-part{
          display: flex;
          justify-content: center;
          align-items: start;
          flex-wrap: wrap;
            > div{
              width: 100%;
            }
          .pants{
            width: 200px;
            height: 50px;
            background-color: $pants-color;
            position: relative;
            z-index: 1;
              .box-krafit{
                width: 24px;
                height: 15px;
                background-color: #130d0d;
                position: absolute;
                left: 88px;
              }
              .krafit{
                width: 30px;
                height: 30px;
                transform: rotate(45deg);
                background-color: #130d0d;
                position: absolute;
                left: 85px;
                top: 9px;
                border-radius: 4px;
              }
              
          }
          .legs{
            position: relative;
            height: 100px;
              .left-leg,.right-leg{
                @extend %hand;
                position: absolute;
                top: -4px;
              }
              .left-leg{
                margin-left: 33%;
              }
              .right-leg{
                margin-left: 63%;
              }
          }
        }
    }

}
